<a href="https://colab.research.google.com/github/Shekhawat12082003/Pandas/blob/main/Pandas_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

# **Creating Dataframes**

In [ ]:
# Using lists
Students_Data = [
    [100,80,10],
    [98,70,8],
    [80,58,2]
]
pd.DataFrame(Students_Data,columns=['iq','marks','dataframes'])

    iq  marks  dataframes
0  100     80          10
1   98     70           8
2   80     58           2

In [ ]:
# Using Dicts
Students_Data = {
    'iq':[100,98,80],
    'marks':[80,70,58],
    'dataframes':[10,8,2]
}
pd.DataFrame(Students_Data)

In [ ]:
# using read_csv
ipl = pd.read_csv('/content/ipl-matches (1).csv')
pd.DataFrame(ipl)

In [ ]:
movies = pd.read_csv('/content/movies (1).csv')
pd.DataFrame(movies)

# **DataFrames Attributes and Methods**

In [ ]:
# Shapes
movies.shape

(1629, 18)

In [ ]:
ipl.shape

(950, 20)

In [ ]:
# dtypes
movies.dtypes

In [ ]:
ipl.dtypes

In [ ]:
# Index
ipl.index

In [ ]:
# Column
ipl.columns

NameError: name 'ipl' is not defined

In [ ]:
# Head and Tail
movies.head()

In [ ]:
movies.tail()

In [ ]:
# Samples
ipl.sample()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
856,392218,Port Elizabeth,2009-05-10,2009,38,Royal Challengers Bangalore,Mumbai Indians,St George's Park,Mumbai Indians,bat,N,Mumbai Indians,Runs,16.0,NaN,JP Duminy,"['JH Kallis', 'V Kohli', 'RV Uthappa', 'LRPL T...","['ST Jayasuriya', 'SR Tendulkar', 'AM Rahane',...",BR Doctrove,BG Jerling

In [ ]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [ ]:
# Describe
movies.describe()

       is_adult  year_of_release  imdb_rating     imdb_votes
count    1629.0      1629.000000  1629.000000    1629.000000
mean        0.0      2010.263966     5.557459    5384.263352
std         0.0         5.381542     1.567609   14552.103231
min         0.0      2001.000000     0.000000       0.000000
25%         0.0      2005.000000     4.400000     233.000000
50%         0.0      2011.000000     5.600000    1000.000000
75%         0.0      2015.000000     6.800000    4287.000000
max         0.0      2019.000000     9.400000  310481.000000

In [ ]:
# isnull
ipl.isnull().sum()
# This function id used for define how many missing value are in dataset

ID                   0
City                51
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            4
WinningTeam          4
WonBy                0
Margin              18
method             931
Player_of_Match      4
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

In [ ]:
# Duplicate - duplicate function is used for findind duplicate in dataset & if we add sum it wil add all true data and provide us output or if u want to change data name permanently we use inplace function as true
ipl.duplicated().sum()

np.int64(0)

In [ ]:
# Rename - Used for rename columns in Datasets
ipl.rename(columns={'city':'City'})

In [ ]:
# .iloc[] is primarily integer-based indexing for selection by position.
# It allows selecting rows and columns by their integer index.
ipl.iloc[1]

ID                                                           1312199
City                                                       Ahmedabad
Date                                                      2022-05-27
Season                                                          2022
MatchNumber                                              Qualifier 2
Team1                                    Royal Challengers Bangalore
Team2                                               Rajasthan Royals
Venue                               Narendra Modi Stadium, Ahmedabad
TossWinner                                          Rajasthan Royals
TossDecision                                                   field
SuperOver                                                          N
WinningTeam                                         Rajasthan Royals
WonBy                                                        Wickets
Margin                                                           7.0
method                                                           NaN
Player_of_Match                                           JC Buttler
Team1Players       ['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...
Team2Players       ['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...
Umpire1                                                  CB Gaffaney
Umpire2                                                  Nitin Menon
Name: 1, dtype: object

In [ ]:
# loc - search using indexing
ipl.loc[54]

In [ ]:
# Filtring a dataframe
# find all the final winner
mask=ipl['MatchNumber'] =='Final'
df= ipl[mask]
df[['Season','WinningTeam']]

In [ ]:
# Adding New Columns
movies ['Country'] = "India"
movies.head()

In [12]:
#  astypes
ipl['ID'].astype('int32 ')

0      -56
1      -57
2      -58
3      -59
4       52
      ...
945    114
946    113
947    112
948    111
949    110
Name: ID, Length: 950, dtype: int8